@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
body{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #E5E5E5;
    @media (max-width:750px) {
        background-color: #F9FAFB;
        
    }
    
}

.wrapper-mobile{
      
     
    padding: 0 16px;
    
    @media (min-width:750px) {
        display: none;
    }
    .logo-mobile{
        margin-top: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
      img{
          cursor: pointer;
      }
    }
    .title-mobile-status{     
      font-size: 32px;
      line-height: 120%;
      font-weight: bold;
      color: #5B5C60;

    }

    .status-section{
        display: grid;
        grid-template-columns: auto auto  ;
        @media (max-width:431px) {
          display: grid;
          grid-template-columns: auto;
          
      }
        .status-block-mobile{
            display: flex;
            justify-content: space-between;
          background: #FFFFFF;
          align-items: center;
          box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.1);
          border-radius: 8px;
          padding: 16px;
          
          margin: 8px 0px;
         
         
          p{
              font-weight: bold;
              font-size: 12px;
              line-height: 150%;
              
              color: #5B5C60;
          }
          span{
              margin-top: 5px;
              font-weight: normal;
          }
          

        }
        .status-block-mobile-2{
            margin-right: 14px;
            @media (max-width:431px) {
              margin-right: 0px;
              
          }
        }
    
    }
    .status-section-active{
        display: none;
    }

    .sub-title{
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #5B5C60;
      margin-top: -10px;
    }
    .search-mobile{
        margin-top: 18px;
      background: #FFFFFF;
      border: 1px solid #D1D1D1;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 14px;
      padding-left: 20px;
      input{
          outline: none;
          border: none;
          margin-left: 20px;
      }
    }
    .navigation-mobile-tab{
        position: relative;
        margin-top: 23px;
        display: flex;
        justify-content: center;

        .mobile-tab-link{
            margin: 0 16px;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            color: #8E8F95;
            cursor: pointer;
        

        }
        .tab-link-active{
            color: #005AFE;
            padding: 0px 6px;
            font-weight: bold;
            border-bottom: 2px solid #005AFE ;
            padding-bottom: 7px;
        }


        .line-navigation-tab{
            position: absolute;
            width: 240px;
            border-bottom: 2px solid #EEF0F3;
            top: 28px;
            z-index: -1;

        }
    }

    .cards-block-mobile{
      position: relative;
      margin-top: 16px;
      margin-bottom: 100px;
      .line-red{
          position: absolute;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: #D22630;
          position: absolute;
          left: -13px;
          text-align: center;
          color: white;
          font-size: 12px;
          padding-top: 3px;
          top:52px;

      }
      .line-left{
          position: absolute;
          border-left:2px dashed #B8BAC2;
          height: 630px;
          top: 65px;
          display: flex;
          flex-direction: column;
          div{
              width: 25px;
              height: 25px;
              border-radius: 50%;
              background-color: #B8BAC2;
              position: absolute;
              left: -13px;
              text-align: center;
              color: white;
              font-size: 12px;
              padding-top: 3px;
          }
          .line-greey-2{
              top: 150px;
          }
          .line-greey-3{
              top: 300px;
          }
          .line-greey-4{
              top: 450px;
          }
          .line-greey-5{
              top: 630px;
          }
      .line-active{
          background-color: #003087;
      }
      }
      .card-mobile{
        background: #FFFFFF;
        padding: 16px;
       
      
        padding-left: 20px;
        cursor: pointer;
        margin-left: 20px;
        margin-bottom: 17px;
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 3px 6px rgba(96, 97, 112, 0.08);
        border-radius: 8px;
        .card-title{
          font-weight: bold;
          font-size: 18px;
          line-height: 150%;
          color: #5B5C60;
            
        }
        .card-text{
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #8E8F95;

        }
        div{
            display: flex;
            p{
              font-weight: bold;
              font-size: 12px;
              line-height: 150%;
              color: #5B5C60;
              margin: 0px 10px;
              
                
            }
            span{
                font-size: 14px;
                font-weight: bold;
            }
            
            
            
        }

      }
      .card-mobile-red{
        background: linear-gradient(270deg, #FFFFFF 97.2%, #D22630 92.2%);
        padding-left: 30px;
      }
      .card-mobile-active{
          background: linear-gradient(270deg, #FFFFFF 97.14%, #003087 97.14%);
      }
      .card-mobile-active-2{
          background: linear-gradient(270deg, #FFFFFF 97.14%, #FFCC19 97.2%)
      }
  }
  .finished-block{
      display: none;
      margin-bottom: 130px;
      margin-top: 30px;
      flex-direction: column;
      justify-content: center;
    
      width: 100%;
      img{
          width: 240px;
       
          margin: 0 auto;
          
      }
      p{
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          text-align: center;
          line-height: 150%;
          color: #8E8F95;
      }
  }
  .footer-menu-moble{
    position: fixed;
      box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.05), 0px -0.5px 5px rgba(96, 97, 112, 0.08);
      border-radius: 16px 16px 0px 0px;
      padding: 0 23px;
      padding-top: 10px;
      background-color: white;
      z-index: 200;
   
      left: 0;
      width: 93%;
     
      
      bottom: 0;
     
      display: flex;
      justify-content: space-between;
      @media (max-width:367px) {
          left: -9px;
          
      }
      div{
          display: flex;
          cursor: pointer;
          flex-direction: column;
          align-items: center;
     
          a{   
              font-weight: normal;
              font-size: 10px;
              line-height: 120%;
              text-align: center;
              color: #5B5C60;
              text-decoration: none;
              margin-top: 10px;

          }
          .mobile-menu-active{
              color: #005AFE;
          }
          
      }
      .start-block {
          background: #003087;
          box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.06), 0px 2px 8px rgba(96, 97, 112, 0.22);
          border-radius: 50%;
          width: 64px;
          display: flex;
          justify-content: center;
          cursor: pointer;
          top: -41px;
          position: relative;
          height: 64px;
          .pause{
              display: none;
          }
          .pause-active{
              display: block;
          }
          .start-active{
              display: none;
          }
          .start-active-2{
              display: block;
          }
      }

  }
 
}

.modal-pause-mobile{
    display: none;
 
  padding: 24px 16px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.06), 0px 2px 8px rgba(96, 97, 112, 0.22);

  @media (min-width:750px) {
      display: none;
  }
    .pause-modal-header{
        
        position: relative;
        img{
            position: absolute;
          
        }
        h1{
          font-weight: bold;
          font-size: 20px;
          line-height: 120%;
          margin-left: 40px;
          color: #5B5C60;
        }
        p{
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #5B5C60;
          margin-left: 40px;
          margin-top: -10px;
          
        }
    }
    .radios-block{
        .radio{
            display: flex;
            align-items: center;
            
            .radio-btn{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 2px solid #5B5C60;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                .radio-btn-active-blue{
                    display: none;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #003087;

                }
                .radio-btn-active{
                  display: block;

              }

            }
          
            p{
              font-weight: normal;
              font-size: 16px;
              line-height: 150%;
              color: #5B5C60;
              margin-left: 20px;
            }
        }
    }
    button{
      background: #B8BAC2;
      width: 100%;
      padding: 12px 0;
      border-radius: 24px;
      border: none;
      cursor: pointer;
      color: white;
      text-align: center;
    }
    .button-pause-active{
        background: #003087;
    }
}

.viagem-pause{
    position: fixed;
    background: #252627;
    border-radius: 8px;
    display: none;
    opacity: 0;
    width: 90%;
    padding: 5px 15px;
    left: 4%;
    transition: 1s;
    
    justify-content: space-between;
    top: 30px;
    p{
      font-size: 14px;
      line-height: 150%;
      color: #FFFFFF;
    }
}
.viagem-pause-active{
    transition: 1s;
    opacity: 1;
}

.viagem-pause-close-active{
    transition: 0.7s;
    opacity: 0;
}